@use "../../../css/queries.scss";
@import "../../../css/queries.scss";

.header {
  color: var(--Text-Primary, #2c2d31);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 36px;
  letter-spacing: -2.52px;
  padding: 40px 0;
  @include mid-break {
    font-size: 64px;
    letter-spacing: normal;
    padding: 73px 0;
  }
  @include large-break {
    font-size: 64px;
    letter-spacing: normal;
    padding: 73px 0;
  }
}

.container {
  display: flex;
  flex-direction: row;
  gap: 104px;
}

.input {
  // border: solid red 2px;
  // display: flex;
  text-align: center;
  width: 75px;
  // max-width: fit-content;
  height: 28px;
  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid hsl(var(--icon));
  background-color: hsl(var(--whitebase));
  border-radius: 2px;
}
.imageContainer {
  width: 325px;
  overflow: hidden;
  padding-bottom: 24px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.AccordionTrigger {
  color: var(--Text-Primary, #2c2d31);
  font-family: var(--font-montserrat);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.96px;
  padding: 16px 0;
}

.cartItemContainer {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  border-bottom: 3px solid var(--Border-Gray, #bec0c9);
  &:last-child {
    border-bottom: none;
  }
  h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
  }
}

.cartItemDetail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  h3 {
    color: var(--Text-Secondary, #5c5d6d);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
  }
}

.quantityContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  padding-top: 8px;
  span {
    color: var(--Text-Primary, #2c2d31);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
  }
}

.padding {
  padding: 40px 0;
}

.howToContainer {
  @include mid-break {
    padding: 0 0 72px;
  }
  @include large-break {
    padding: 0 0 72px;
  }
}

.howToText {
  color: var(--Text-Primary, #2c2d31);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.2px;
  padding-bottom: 16px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 100%;
  margin: 40px 0;
  @include large-break {
    margin: 40px 0 80px 0;
  }
}
