@use "../../../css/queries.scss";
@import "../../../css/queries.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: var(--font-openSans);
  @include mid-break {
    gap: 24px;
  }
  @include small-break {
    gap: 24px;
  }

  .FormItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include large-break {
      align-items: start;
    }
  }
  .FormLabel {
    font-size: 24px;
    color: hsl(var(--primary-text));
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
    margin-bottom: 10px;
    @include small-break {
      font-size: 20px;
      letter-spacing: -0.8px;
    }
  }
  .SelectTrigger {
    width: 100%;
    height: 56px;
    border: 1px solid var(--Text-Primary, #2c2d31);
    border-radius: 4px;
    background-color: hsl(var(--whitebase));
    // margin-top: 16px;
  }

  .Input {
    width: 84px;
    height: 56px;
    text-align: center;
    border: 2px solid hsl(var(--icon));
    background-color: hsl(var(--whitebase));
  }

  .quantityToggleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}

.submitButton {
  display: flex;
  gap: 10px;
}
