@use "../../../css/queries.scss";
@import "../../../css/queries.scss";

@mixin custom-breakpoint($max-width) {
  @media (max-width: $max-width) {
    @content;
  }
}

.sectionContainer {
  width: 100%;
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.52px;
    font-size: 36px;
    padding-top: 24px;
    @include mid-break {
      font-size: 64px;
      padding-top: 64px;
    }
    @include large-break {
      font-size: 64px;
      padding: 80px;
    }
  }
}

.productFilterCardContainerDesktop {
  display: flex;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 24px;

  @include mid-break {
    margin-top: 24px;
  }
  @include large-break {
    margin-top: 0;
  }
}
.productFilterCardContainer {
  display: flex;
  margin: 24px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;

  @include mid-break {
    margin: 24px 0;
  }
  @include large-break {
    margin-top: 0;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 64px 72px 0;
  @include large-break {
    display: none;
  }
  @include custom-breakpoint(900px) {
    margin: 40px 35px 0;
  }

  Button {
    min-width: 100%;
  }
}

.materialCardContainer {
  max-width: fit-content;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin: 0 32px;
  @include mid-break {
    margin: 0 72px;
  }
}

.noItemsMatchContainer {
  display: flex;
  max-width: 100%;
  margin-inline: 86px;
  @include mid-break {
    margin-inline: 52px;
  }
}

.chevronClose {
  position: absolute;
  left: 24px;
  rotate: 180deg;
}
.chevronClose path {
  fill: #235e74;
}
