@use "../../../css/queries.scss";
@import "../../../css/queries.scss";

.headerContainer {
  display: flex;
  justify-content: center;
  padding: 40px 32px;
  @include mid-break {
    padding: 40px 72px;
  }

  @include large-break {
    padding: 80px 72px;
  }

  h1 {
    color: var(--Text-Primary, #2c2d31);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.52px;
    @include mid-break {
      font-size: 64px;
    }
    @include large-break {
      font-size: 64px;
    }
  }
}

.materialDetailsContainer {
  // border: 2px green solid;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  @include mid-break {
    flex-direction: column;
  }
  @include small-break {
    flex-direction: column;
  }
}

// .materialImagesContainer {
//   display: flex;
//   flex-direction: column-reverse;
//   padding-right: 60px;
//   gap: 24px;
//   justify-content: start;
//   @include mid-break {
//     flex-direction: row-reverse;
//     padding-right: 0px;
//     padding-bottom: 24px;
//     gap: 40px;
//   }
//   @include small-break {
//     padding-right: 0;
//     align-items: center;
//     padding-bottom: 40px;
//   }
// }
.materialImagesContainer {
  // border: 2px red solid;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 0 32px;
  @include mid-break {
    flex-direction: row-reverse;
  }
  @include large-break {
    // flex-direction: row-reverse;
    justify-content: start;
    // align-items: end;
    margin: 0 0 0 72px;
    max-width: 620px;
  }
}

.carouselContainer {
  display: flex;
  justify-content: center;
  gap: 24px;
  @include mid-break {
    max-height: 556px;
  }
  @include large-break {
    // max-height: 556px;
    max-width: 75%;
  }
}

.carousel {
  display: flex;
  align-items: center;
  @include large-break {
    max-width: 100%;
    height: 100%;
  }
  @include mid-break {
    height: 556px;
  }
}

.prev {
  transform: translateX(-40px) translateY(-18px);

  @include mid-break {
    transform: translateX(-17px) translateY(45px) rotate(90deg);
  }
  @include large-break {
    // transform: translateX(-17px) translateY(45px) rotate(90deg);
  }
}

.next {
  width: 20px;
  stroke: hsl(var(--icon));
  transform: translateX(40px) translateY(-18px);
  @include mid-break {
    transform: translateX(-10px) translateY(-50px) rotate(90deg);
  }
  @include large-break {
    // transform: translateX(-10px) translateY(-50px) rotate(90deg);
  }
}

.carouselContent {
  width: 100%;
  @include large-break {
    // height: 460px;
  }
  @include mid-break {
    width: fit-content;
    height: 460px;
  }
  @include small-break {
    width: 275px;
  }
}

.carouselItem {
  margin-left: 8px;

  @include mid-break {
    margin-left: 0;
  }
  @include large-break {
    margin-left: 0;
  }
}

.carouselImageContainer {
  width: 93px;
  height: 93px;
  position: relative;
  overflow: hidden;
  @include small-break {
    width: 63px;
    height: 63px;
  }
}

.carouselImage {
  width: 93px;
  height: 93px;
  object-fit: cover;
  object-position: center;
  display: block;
  position: relative;
}

.selectedImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid hsl(var(--primary)); /* Superimposed border */
  box-sizing: border-box; /* Ensures the border is inside the element */
  pointer-events: none; /* Prevents interaction with the pseudo-element */
}

.imageContainer {
  width: 601px;
  height: 601px;
  @include small-break {
    width: 100%;
    max-width: 400px;
    height: 366px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.overlay {
  transform: translateY(-62px);
  background: rgba(35, 94, 116, 0.75);
  color: white;
  padding: 16px;
  font-size: 20px;
  font-weight: 700;
}

.expandableContent {
  background-color: hsl(var(--whitebase));
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.5 ease-in-out;
  opacity: 0;
}

.expandableContent.expanded {
  max-height: 150rem;
  max-width: 550px;
  opacity: 1;
  p {
    padding-top: 32px;
  }
}

.materialInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 32px 0;
  @include mid-break {
    padding: 24px 72px;
  }
  @include large-break {
    padding: 0 72px 0 60px;
    gap: 32px;
  }

  h1 {
    color: var(--Primary, #307084);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
    @include mid-break {
      font-size: 64px;
      padding-bottom: 16px;
    }
    @include large-break {
      font-size: 64px;
    }
  }
  h3 {
    font-family: var(--font-openSans);
  }

  span {
    color: var(--Text-Secondary, #5c5d6d);
    font-family: var(--font-openSans);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    padding-left: 4px;
  }
}

.seeMoreButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  Button {
    font-style: italic;
    text-underline-offset: 1;
    color: hsl(var(--black-base));
    padding: 0;
  }
}

.materialDescriptionContainer {
  display: flex;
  flex-direction: column;
  padding-top: 104px;
  padding-bottom: 85px;
  gap: 40px;
  @include large-break {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  @include mid-break {
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 24px;
  }
  @include small-break {
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 24px;
  }

  h3 {
    color: hsl(var(--black-base));
  }
  span {
    color: hsl(var(--secondary-text));
    font-weight: 400;
    padding-left: 4px;
  }
}
