@use "../../../../css/queries.scss";
@import "../../../../css/queries.scss";

.heroContainer {
  position: relative;
  h2 {
    position: absolute;
    z-index: 2;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White-Base, #fdfbf6);
    text-align: center;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.52px;
    font-size: 36px;
    @include mid-break {
      font-size: 64px;
    }
    @include large-break {
      font-size: 64px;
    }
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imageContainer::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.familyOwnedContainer {
  width: 100%;
  display: flex;
  justify-content: start;
  align-self: start;

  div:nth-child(1) {
    display: flex;
    flex-direction: column;
    // justify-content: start;
    align-items: start;
    text-align: center;
    padding: 40px 32px;
    gap: 32px;

    @include mid-break {
      padding: 64px 72px;
    }

    @include large-break {
      padding: 104px 72px;
      gap: 53px;
    }
    @media (min-width: 1601px) {
      padding: 104px 144px;
    }
    h2 {
      color: hsl(var(--primary-text));
      font-size: 32px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.96px;
      @include mid-break {
        font-size: 40px;
        letter-spacing: -1.2px;
      }
      @include large-break {
        font-size: 40px;
        letter-spacing: -1.2px;
      }
    }
    p {
      color: hsl(var(--secondary-text));
      align-self: stretch;
      font-size: 20px;
      font-weight: 400;

      letter-spacing: -0.8px;
      text-align: left;
      @include mid-break {
        font-size: 24px;
        letter-spacing: -0.96px;
      }
      @include large-break {
      }
    }
  }
}

.historyContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  @include mid-break {
    margin-bottom: 64px;
  }
  @include large-break {
    margin-bottom: 104px;
    div:nth-child(2) {
      flex-direction: row;
    }
  }
}

.historySubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include large-break {
    flex-direction: row-reverse;
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 48px 32px;
    gap: 40px;
    @include mid-break {
      padding: 48px 72px;
    }
    @include large-break {
      flex: 1;
      max-width: calc(50%);
      padding: 48px 72px;
    }
    @media (min-width: 1601px) {
      padding: 48px 144px;
    }
    h2 {
      color: var(--Text-Primary, #2c2d31);
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.96px;
      @include mid-break {
        font-size: 40px;
        letter-spacing: -1.2px;
      }
      @include large-break {
        font-size: 40px;
        letter-spacing: -1.2px;
        line-height: normal;
      }
    }
    p {
      color: var(--Text-Secondary, #5c5d6d);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.32px;
      @include mid-break {
        font-size: 20px;
      }
      @include large-break {
        font-size: 20px;
      }
    }
  }
}

.historyImageWrapper {
  position: relative;
  height: 240px;
  width: 100%;
  @include mid-break {
    height: 480px;
  }
  @include large-break {
    flex: 1;
    height: 480px;
  }
}

.historyImage {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.faq {
  display: flex;
  flex-direction: column;

  @include small-break {
    margin: 40px 32px 40px;
  }
  @include mid-break {
    margin: 64px 72px 64px;
  }
  @include large-break {
    margin: 104px 70px 104px;
  }

  h2 {
    color: var(--Primary---Dark, #235e74);
    justify-content: start;
    margin-bottom: 40px;
    @include small-break {
      font-size: 32px;
    }
  }
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AccordionTrigger,
.AccordionContent {
  @include small-break {
    font-size: 20px;
  }
}

.AccordionTrigger {
  color: hsl(var(--primary));
  padding: 16px 0;
}
